    <!--  Management View button -->
  <div class="management"> Management View  &nbsp <span class="glyphicon glyphicon-briefcase"></span>
  </div> 


  <div class="flexcontainer"> 

    <div class="flexitem1">
       <img alt="super" src="modules/core/client/img/brand/superword.png" width="200px">
       <br>
         <img alt="swank" src="modules/core/client/img/brand/swankword.png" width="200px">
       </div>
   
    
     <div class="flexitem2">
        <img alt="logo" src="modules/core/client/img/brand/logo.png" width="200px">
    </div>

     <div class="flexitem3">
 <img alt="swag" src="modules/core/client/img/brand/swagword.png" width="200px">
 <br>
  <img alt="store" src="modules/core/client/img/brand/storeword.png" width="200px">
</div>
</div>
<br>

<center>
   <h2>Your site for the swankest goods on the Internet.</h2>
</center>

      

    <div class="flexcolumn">
      <div class="flexitem4"> Already a member? Welcome back! </div>
      <div class="flexitem4">
        <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Login in here!</a>
    </div>
      <div class="flexitem4"><h4>Need to register? </h4>
      </div>
      <div class="flexitem4">
        <a href="http://meanjs.org" target="_blank">Sign up here!</a>
    </div>
    </div>
